@import '../abstracts/variables';

.textarea {
  height: 150px;
  min-width: 903px;
  width: 100%;
  background: $primary-color-light;
  overflow: auto;
  border-radius: 10px;
  outline: none;
  border: 1px solid $primary-color-darken;
  color: #2f3542;
  font-size: 20px;
  margin-bottom: 50px;
  padding: 15px;
}