$primary-color: #7560ab;
$secondary-color: #370c80;
$primary-color-darken: darken($primary-color, 10%);
$primary-color-light: lighten($primary-color, 10%);
$color-light-m: #a2a2a2;
$color-light-l: white;