$primary-color: rgba(255, 255, 255, 0.56);
$secondary-color: #e1dbdb;
$primary-color-darken: rgba(0, 137, 255, 0.55);
$primary-color-light: rgba(104, 179, 252, 0.55);
$primary-color-light-l: lighten($primary-color-light, 10%);
$color-light-m: #a2a2a2;
$color-light-l: #464646;