@import '../abstracts/variables';
.wrap-virtual-keyboard {
  background-color: $secondary-color;
  border-radius: 5px;
  padding: 10px;
}
.flex {
  display: flex;
}

.virtual-keyboard {
  display: grid;
  grid-template-areas:
          "b0 b1 b2 b3 b4 b5 b6 b7 b8 b9 b10 b11 b00 backspace backspace"
          "tab b12 b13 b14 b15 b16 b17 b18 b19 b20 b21 b22 b23 b24 del"
          "—Åaps-lock b25 b26 b27 b28 b29 b30 b31 b32 b33 b34 b35 enter enter enter"
          "shift-l shift-l b36 b37 b38 b39 b40 b41 b42 b43 b44 b45 b46 top shift-r"
          "ctrl-l win alt-l space space space space space space space alt-r ctrl-r left bottom right";
}